.chat-wrapper {
  @apply flex h-screen max-w-full flex-grow flex-col;
  &__input-section {
    @apply flex w-full flex-row justify-between gap-2 self-end border-l-2 border-[var(--main-color-3)] bg-[var(--main-color-5)];
  }
  &__messages-section {
    @apply flex h-[94.22%] w-full flex-col overflow-y-scroll px-4;
  }
}

.message {
  @apply relative mt-3 flex w-fit min-w-6 max-w-[50%] flex-row flex-wrap justify-end rounded-xl bg-[var(--accent-color-1-shadow-1)] px-2 pb-2 pt-1 text-lg text-[white];

  &::before {
    @apply absolute bottom-[-2px] h-[13px] w-7 rounded content-[''];
    clip-path: polygon(70% 0, 0% 70%, 100% 100%);
  }

  &--receiver {
    @apply self-start bg-[var(--main-color-5)];
    &::before {
      background-color: var(--main-color-5);
      left: -8px;
      transform: scaleX(-1) rotate(-9deg);
    }
  }

  &--my {
    align-self: flex-end;
    &::before {
      background-color: var(--accent-color-1-shadow-1);
      right: -8px;
      transform: rotate(-9deg);
    }
  }

  &__text {
    @apply overflow-hidden break-all;
  }

  &__time {
    @apply ml-3 max-h-[14px] self-end text-sm;
  }

  @media (max-width: 992px) {
    & {
      @apply max-w-full;
    }
  }

  @media (max-width: 391px) {
    & {
      @apply text-base;
    }
  }
}

.friend-header {
  @apply flex max-h-[87px] justify-between border-l-2 border-[--main-color-3] bg-[--main-color-5] p-3;

  &--desktop {
    .user-info {
      @apply mr-6 flex w-40 gap-5;
    }
  }

  &--mobile {
    .user-info {
      @apply m-auto flex w-40 gap-5;
    }
  }

  .user-info-container {
    @apply flex flex-col gap-2;
  }

  .user-info-name {
    @apply text-xl font-bold;
  }

  .user-info-status-text {
    &--online {
      @apply text-[var(--accent-color-1-default)];
    }
    &--offline {
      color: var(--main-color-2-default);
    }
  }

  @media (max-width: 391px) {
    .user-info-name {
      @apply text-lg font-bold;
    }

    .user-info-status-text {
      @apply text-sm;
    }
  }
}
