@use "../styles/mixins.scss" as *;

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  background-color: var(--main-color-3);
  @include font-text-regular;
  color: var(--main-color-2-default);
  margin-right: calc(100% - 100vw);
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  &--scroll-block {
    overflow: hidden;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  fill: currentColor;
  transition: fill 0.2s ease;
}