:root {
  --main-color-1: #ffffff;
  --main-color-2-default: #cbd6e6;
  --main-color-2-shadow-1: #70767f;
  --main-color-2-shadow-2: #3e434b;
  --main-color-2-shadow-3: #5b636f;
  --main-color-3: #15171c;
  --main-color-4: #23262f;
  --main-color-5: #1b222b;

  --accent-color-1-light: #66fcf1;
  --accent-color-2-light: #a78bfa;
  --accent-color-1-default: #47c1ba;
  --accent-color-1-shadow-1: #226e6a;
  --accent-color-1-shadow-2: #2b474d;
  --accent-color-1-shadow-3: #282d31;
  --accent-color-2-shadow-1: #957cddca;

  --online-status-marker-color: #1fe36a;

  --status-color-error: #b3261e;

  --base-transition: all ease 0.2s;
}
