:root {
  --main-color-1: #ffffff;
  --main-color-2-default: #cbd6e6;
  --main-color-2-shadow-2: #3e434b;
  --main-color-2-shadow-3: #5b636f;
  --main-color-3: #16181e;
  --main-color-4: #23262f;
  --main-color-5: #1f2733;

  --accent-color-1-default: #a78bfa;
  --accent-color-1-shadow-1: #836fbf;
  --accent-color-1-shadow-2: #226e6a;
  --accent-color-1-shadow-3: #2b474d;
  --accent-color-1-shadow-4: #282d31;

  --popup-bg-color-1: #232e3e;
  --popup-bg-color-2: #202a39;

  --online-status-marker-color: #1fe36a;

  --status-color-error: #b3261e;

  --red-selection: #ca332b;

  --base-transition: all ease 0.2s;
}
