:root {
  --main-color-1: #FFFFFF;
  --main-color-2-default: #C2CAD6;
  --main-color-2-shadow-1: #70767F;
  --main-color-2-shadow-2: #3E434B;
  --main-color-3: #1D2228;
  --main-color-4: #262C32;

  --accent-color-1-light: #B6D775;
  --accent-color-1-default: #88B234;
  --accent-color-1-shadow-1: #536A2E;
  --accent-color-1-shadow-2: #3D4D2B;
  --accent-color-1-shadow-3: #283129;

  --status-color-error: #B3261E;
}
