.opened-image-wrapper {
  @apply fixed left-0 top-0 z-50 flex h-screen w-screen items-center justify-center bg-black bg-opacity-60;

  .opened-image {
    object-fit: cover;
    max-width: 80%;
    max-height: 80vh;
  }

  #cross {
    @apply absolute right-6 top-4;
  }
}
