.main-sidebar {
  @apply flex h-screen w-1/4 min-w-72 max-w-md flex-col gap-3 bg-[var(--main-color-5)] xl:w-1/4 xl:min-w-80 2xl:min-w-96;

  @media (max-width: 991px) {
    min-width: 260px;
    max-width: 300px;
  }

  &__title {
    @apply mx-3 my-3 text-3xl font-bold capitalize;
  }

  &__content {
    @apply flex flex-col gap-2;
  }

  &--mobile {
    width: 100%;
    max-width: none;
  }
}
