.checkbox-field {
  @apply flex cursor-pointer select-none items-center gap-2 text-[--main-color-2-default];
  transition: color 0.2s ease;

  &__input {
    display: none;
  }

  &__checker {
    @apply flex w-5 items-center justify-center rounded;
    aspect-ratio: 1 / 1;
    border: 1px solid currentColor;
    transition: background-color 0.2s ease;

    svg {
      @apply h-3 w-3 fill-[var(--main-color-3)];
      display: none;
    }
  }

  &__input:checked ~ &__checker {
    background-color: var(--accent-color-1-default);
    border-color: var(--accent-color-1-default);
    svg {
      display: block;
    }
  }

  &:hover {
    color: var(--main-color-1);
  }
}
